<a href="https://colab.research.google.com/github/seo-minsu/BDA-/blob/main/1%EC%9C%A0%ED%98%95_%EC%98%88%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 데이터 다루기 유형

1. 데이터 타입(object, int, float, bool 등)
2. 기초통계량(평균, 중앙값, 사분위수, IQR, 표준편차 등)
3. 데이터 인덱싱, 필터링, 정렬, 변경 등
4. 결측치, 이상치, 중복값 처리(제거 or 대체)
5. 데이터 Scailing(데이터 표준화(z), 데이터 정규화(mim-max))
6. 데이터 합치기
7. 날짜/시간 데이터, index 다루기

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('mtcars.csv')

df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
##문제 1

## mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오.

Q1 = df['mpg'].quantile(.25)
print(round(Q1))

15

In [ ]:
##문제 2

## mpg 값이 19 이상 21이하인 데이터의 수를 구하시오

cond1 = (df['mpg']>=19)
cond2 = (df['mpg']<=21)

print(len(df[cond1&cond2]))

5

In [ ]:
##문제 3

## hp 변수의 IQR 값을 구하시오.

Q1 = df['hp'].quantile(0.25)
Q3 = df['hp'].quantile(.75)

IQR = Q3-Q1

print(IQR)

83.5

In [ ]:
##문제 4

##wt 변수의 상위 10개 값의 총합, 소수점 버리고 정수로 출력

top10 = df.sort_values('wt', ascending=False)
sum_top10 = sum(top10['wt'].head(10))
print(int(sum_top10))

42

In [ ]:
##문제 5

## 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째자리까지 출력

len_6 = len(df[df['cyl']==6])
len_total = len(df)
print(round(len_6/len_total, 1))

0.2

In [ ]:
##문제 6

## 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력

df10 = df[:10]    ## df.loc[0:9], df.head(10)
mean10 = df10['mpg'].mean()

print(round(mean10))

20

In [ ]:
##문제 7

## 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.

d50 = int(len(df)*0.5)
df50 = df[:d50]
print(df50['wt'].median())

3.44

In [ ]:
##문제 8

## 결측값이 있는 데이터의 수를 출력

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df

          날짜    제품   판매수  개당수익
0   20220103     A   3.0   300
1   20220105     B   NaN   400
2       None  None   5.0   500
3   20230127     B  10.0   600
4   20220203     A  10.0   400
5   20220205  None  10.0   500
6   20230210     A  15.0   500
7   20230223     B  15.0   600
8   20230312     A  20.0   600
9   20230422     B   NaN   700
10  20220505     A  30.0   600
11  20230511     A  40.0   600

In [ ]:
missing = df.isnull().sum()

In [ ]:
print(missing)

날짜      1
제품      2
판매수     2
개당수익    0
dtype: int64

In [ ]:
##문제 9

## '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대채, 판매수의 평균값을 정수로 출력
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

중앙값 = df['판매수'].median()
df['판매수'] = df['판매수'].fillna(중앙값)
mean = df['판매수'].mean()
print(round(mean))


df

15

          날짜    제품   판매수  개당수익
0   20220103     A   3.0   300
1   20220105     B  12.5   400
2       None  None   5.0   500
3   20230127     B  10.0   600
4   20220203     A  10.0   400
5   20220205  None  10.0   500
6   20230210     A  15.0   500
7   20230223     B  15.0   600
8   20230312     A  20.0   600
9   20230422     B  12.5   700
10  20220505     A  30.0   600
11  20230511     A  40.0   600

In [ ]:
##문제 10

## 판매수 칼럼에 결측치가 있는 행 제거하고,
## 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여
## 판매수 변수의 Q1(제1사분위수) 값을 정수로 출력

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df = df['판매수'].dropna()

per50 = int(len(df)*0.5)
df = df[:per50]

print(round(df.quantile(0.25)))

5

In [ ]:
## 문제 11
## cyl 가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를 절대값 정수로 출력

df = pd.read_csv('mtcars.csv')

cond1 = (df['cyl']==4)
cond2 = (df['cyl']==6)
cyl4 = df[cond1]['mpg'].mean()
cyl6 = df[cond2]['mpg'].mean()

print(round(abs(cyl4-cyl6)))

7

In [ ]:
##문제 12

## hp 변수에 대해 데이터표준화(z-score)를 진행하고 이상치의 수 구하라. (단, 이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값임)

## Z = (X-평균) / 표준편차
std_hp = df['hp'].std()
mean_hp = df['hp'].mean()
df['zscore'] = (df['hp']-mean_hp) / std_hp
df
cond1 = (df['zscore']>1.5)
cond2 = (df['zscore']<-1.5)
print(len(df[cond1])+len(df[cond2]))

2

In [ ]:
##문제13

## mpg 칼럼을 최대최소 scaling 하고, 0.7보다 큰 값을 가지는 레코드 수 구하라.

## min-max scaling  = (X-min) / (max-min)

min_mpg = df['mpg'].min()
max_mpg = df['mpg'].max()
df['mpg'] = (df['mpg']-min_mpg) / (max_mpg-min_mpg)

cond1 = (df['mpg']>0.7)
print(len(df[cond1]))

5

In [ ]:
##문제 14

## wt칼럼에서 상자그림 기준으로 이상치의 개수를 구하라.

Q1 = df['wt'].quantile(0.25)
Q3 = df['wt'].quantile(0.75)

IQR = Q3-Q1

upper = Q3 + 1.5*IQR
lower = Q1 - 1.5*IQR

cond1 = (df['wt']>upper)
cond2 = (df['wt']<lower)

print(len(df[cond1])+len(df[cond2]))

3

In [ ]:
##문제 15

## 판매수 컬럼의 결측치를 최소값으로 대체하고
## 결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값 정수로 출력하라.

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

mean1 = df['판매수'].mean()

df2 = df.copy()
최소값 = df2['판매수'].min()
df2['판매수'] = df2['판매수'].fillna(최소값)

mean2 = df2['판매수'].mean()

print(round(abs(mean1-mean2)))

2

In [ ]:
##문제 16

## vs변수가 0이 아닌 차량 중에 mpg 값이 가장 큰 차량의 hp 값을 출력하라.

## vs 변수가 0이 아닌 차량 --> mpg 값 내림차순 뽑기 --> 그것의 hp 변수의 iloc의 0번째 값

## !=x : x가 아닌 것
## iloc[n] : n번째 인덱스 변수 값 추출

df = pd.read_csv('mtcars.csv')

df = df[df['vs']!=0]

df = df.sort_values('mpg', ascending=False)

#print(df)
print(df['hp'].iloc[0])

##loc 쓸거면 mpg 값이 가장 큰 값의 인덱스 번호를 직접 써야 함(19로 써야 65가 나옴)

65

In [ ]:
##문제 17

## gear 변수값이 3, 4인 두 그룹의 hp 표준편차값의 차이를 절대값 소수점 첫째자리까지 출력

## 2개 그룹으로 필터링 --> 표준편차
df = pd.read_csv('mtcars.csv')
gear3 = df[df['gear']==3]
gear4 = df[df['gear']==4]

std3 = gear3['hp'].std()
std4 = gear4['hp'].std()

print(round(abs(std3-std4), 1))

21.8

In [ ]:
##문제 18

## gear 변수의 값별로 그룹화하여 mpg 평균값 산출하고
## 평균값이 높은 그룹의 mpg 제3사분위수 값 구하라.

## gear, mpg 변수만 필터링 ==> gear 변수로 그룹화하여 mpg 평균값 보기 --> 평균값 높은 그룹의 mpg Q3 구하기

df = df.loc[:, ['gear', 'mpg']]

#print( df.groupby('gear').mean()) ## gear 4가 가장 높음.

gear4 = df[df['gear']==4]
print(gear4['mpg'].quantile(.75))

28.075

In [ ]:
##문제 19

## hp 항목의 상위 7번째 값으로 상위 7개 값을 변환한 후,
## hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하라.

df = pd.read_csv('mtcars.csv')

## hp 열 기준 내림차순 ==> 인덱스 초기화 ==> hp 상위 7번째 값 확인  ==> np.whwere 활용

df = df.sort_values('hp', ascending=False)

df = df.reset_index(drop=True) ## drop=True는 기존 인덱스 삭제
#print(df)

top7 = df['hp'].loc[6]

import numpy as np
df['hp'] = np.where(df['hp']>=205, top7, df['hp'])

##np.where(조건, 조건에 해당할 값, 그렇지 않을 때의 값)

cond1 = (df['hp']>=150)
df = df[cond1]
print(round(df['hp'].mean()))

187

In [ ]:
##문제 20

## car 변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 정수로 출력하라.

## 문자열 추출한 데이터프레임 따로 만들기 ==> 거기서 mpg 평균값 구하기
df = pd.read_csv('mtcars.csv')

df2 = df[df['car'].str.contains("Merc")]
print(round(df2['mpg'].mean()))

19

In [ ]:
## 시험환경에서는 다르게 해야함.(reset_index 사용 후에)
#df = pd.read_csv('mtcars.csv')

#df = df.reset_index()
#df2 = df[df['index'].str.contains("Merc")]
#print(round(df2['mpg'].mean()))

AttributeError: Can only use .str accessor with string values!

In [ ]:
##문제 21

## ’22년 1분기 매출액 구하라. (매출액 = 판매수*개당수익)

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

## 데이터타입 datetime 으로 변경 --> 연월일 변수 추가 --> 매출액 파생변수 추가 --> 22년으로 필터링 --> 1,2,3월 매출액 계산

df['날짜'] = pd.to_datetime(df['날짜'])
df['year'] = df['날짜'].dt.year
df['month'] = df['날짜'].dt.month
df['day'] = df['날짜'].dt.day

df['매출액'] = df['판매수']*df['개당수익']

df = df[df['year']==2022]
df.head()

m1 = df[df['month']==1]['매출액'].sum()
m2 = df[df['month']==2]['매출액'].sum()
m3 = df[df['month']==3]['매출액'].sum()

print(m1+m2+m3)

11900

In [5]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('mtcars.csv')

df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [7]:
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜'] = pd.to_datetime(df['날짜'])

df['매출액']= df['판매수']*df['개당수익']

df_after = df[df['날짜'].between('2022-01-01', '2022-03-31')]

print(df_after['매출액'].sum())

11900

In [9]:
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜'] = pd.to_datetime(df['날짜'])

df['매출액'] = df['판매수']*df['개당수익']

df = df.set_index('날짜')
df_after = df.loc[(df.index<='2022-03-31')&(df.index>='2022-01-01')]

print(df_after['매출액'].sum())

11900

In [10]:
##문제22

## 2022년과 2023의 총 매출액 차이를 절대값으로 구하라.

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜'] = pd.to_datetime(df['날짜'])

df['year'] = df['날짜'].dt.year

df['매출액'] = df['판매수']*df['개당수익']

df22 = df[df['year']==2022]
df22_sum = df22['매출액'].sum()

df23 = df[df['year']==2023]
df23_sum = df23['매출액'].sum()

print(abs(df22_sum-df23_sum))

48600

In [13]:
##문제 23

## 2023년 총 매출액이 큰 제품의 23년 판매수를 구하라.

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜'] = pd.to_datetime(df['날짜'])

df['year'] = df['날짜'].dt.year

df['매출액'] = df['판매수']*df['개당수익']

df = df[df['year']==2023]

df_a = df[df['제품']=='A']
A_sales = df_a['매출액'].sum()

df_b = df[df['제품']=='B']
B_sales = df_b['매출액'].sum()

# print(A_sales)
# print(B_sales)

A_sum = df_a['판매수'].sum()
print(A_sum)

80

In [16]:
##문제 24

## 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하라.

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210', '20230223', '20230312', '20230422', '20220505', '20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['매출액'] = df['판매수']*df['개당수익']

cond1 = (df['매출액']>4000)
cond2 = (df['매출액']<10000)

print(len(df[cond1&cond2]))

4

In [21]:
##문제25

##2023년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하라.

df = pd.DataFrame( {
    '물품' : ['A','B', 'A', 'B', 'A', 'B','A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })

time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods = 7)

df['time'] = time
df = df[ ['time', '물품', '판매수', '개당수익']]
#-------------------------------------------------------------------------------
## 풀이

## 시간데이터 만들기
## 컬럼과 인덱스에 둘다 time 변수를 놓고 풀이
## 데이터 타입 datetime으로 변경(항상 df.info()로 데이터 타입 확인할 것)

df['time'] = pd.to_datetime(df['time'])

df = df.set_index('time', drop = False) ##drop=true 는 변수에서 사라지고 인덱스로만 설정, drop=false는 변수도 있고 인덱스로도 설정

# print(df)

df_after = df[df['time'].between('2023-09-24 00:00:00', '2023-09-24 23:59:59')]

## 시간 필터링 함수인 between time 쓰려면 time이 인덱스가 있어야 함.
##지금은 인덱스랑 변수에 둘 다 있으니까 아래처럼 필터링 해도 됨.

df = df[df['time'].between('2023-09-24 16:00:00', '2023-09-24 22:00:00')]

print(df['판매수'].sum())

25

In [25]:
## 풀이 2

df = pd.DataFrame( {
    '물품' : ['A','B', 'A', 'B', 'A', 'B','A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })

time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods = 7)

df['time'] = time
df = df[ ['time', '물품', '판매수', '개당수익']]

df['time'] = pd.to_datetime(df['time'])
df = df.set_index('time')

df = df.loc[(df.index>='2023-09-24 16:00:00') & (df.index<='2023-09-24 22:00:00')]

print(df['판매수'].sum())

25

In [30]:
##문제 26

## 9월 25일 00:00~12:00까지의 B물품의 매출액 총합을 구하라.

df = pd.DataFrame( {
    '물품' : ['A','B', 'A', 'B', 'A', 'B','A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })

time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods = 7)

df['time'] = time
df = df[ ['time', '물품', '판매수', '개당수익']]

df = df.set_index('time', drop=True)

#------------------------------------------------------------------------------

## 날짜랑 시간 필터링, 매출액 파생변수 생성, 합

df['매출액'] = df['판매수']*df['개당수익']

df = df.reset_index()
## reset 쓴 이유는 time 변수 사용하려고, index 초기화하기 위해서
## default = drop Flase 임

df['time'] = pd.to_datetime(df['time'])

df = df[df['time'].between('2023-09-25 00:00:00', '2023-09-25 12:00:00')]

df = df[df['물품']=='B']

print(df['매출액'].sum())

26500

In [36]:
df = pd.DataFrame( {
    '물품' : ['A','B', 'A', 'B', 'A', 'B','A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })

time = pd.date_range('2023-09-24 12:25:00', '2023-09-25 14:45:30', periods = 7)

df['time'] = time
df = df[ ['time', '물품', '판매수', '개당수익']]

df = df.set_index('time', drop=True)

#------------------------------------------------------------------------------

## 풀이 2. (loc 활용)

df['매출액'] = df['판매수']*df['개당수익']

# df['time'] = pd.to_datetime(df['time'])

df = df.loc[(df.index >= '2023-09-25 00:00:00') & (df.index<='2023-09-25 12:00:00')]

df = df[df['물품']=='B']

print(df['매출액'].sum())

26500